# DATA CREATION

In [2]:
!pip install faker  # for generating fake data

Requirement already satisfied: faker in /home/mystique/miniconda3/lib/python3.12/site-packages (37.3.0)
Requirement already satisfied: tzdata in /home/mystique/miniconda3/lib/python3.12/site-packages (from faker) (2025.1)

In [3]:
import pandas as pd
import numpy as np
from faker import Faker
import random

fake = Faker()

def generate_food_delivery_churn_dataset(n=500):
    data = []
    for i in range(101, 101 + n):
        customer_id = i
        orders_last_3_months = np.random.poisson(lam=5)
        avg_order_value = f"₹{random.randint(150, 600)}"
        app_opens_per_week = np.random.randint(1, 15)
        complaints = np.random.poisson(lam=1)
        used_offers = random.choice(["Yes", "No"])
        last_order_date = fake.date_between(start_date='-1y', end_date='today')
        membership = random.choice(["Yes", "No"])
        is_churned = int((orders_last_3_months <= 2 and app_opens_per_week <= 3) or complaints >= 3)

        data.append([
            customer_id,
            orders_last_3_months,
            avg_order_value,
            app_opens_per_week,
            complaints,
            used_offers,
            last_order_date,
            membership,
            is_churned
        ])
    
    columns = [
        "Customer_ID", "Orders_Last_3_Months", "Avg_Order_Value", "App_Opens_Per_Week",
        "Complaints", "Used_Offers", "Last_Order_Date", "Membership", "Is_Churned"
    ]
    
    return pd.DataFrame(data, columns=columns)

# Create and display the dataset
churn_df = generate_food_delivery_churn_dataset(500)

In [4]:
churn_df.to_csv('./food_delivery_churn_dataset.csv', index=False)

In [5]:
churn_df.head(10)

,Customer_ID,Orders_Last_3_Months,Avg_Order_Value,App_Opens_Per_Week,Complaints,Used_Offers,Last_Order_Date,Membership,Is_Churned
0,101,5,₹248,14,0,Yes,2025-01-28,Yes,0
1,102,6,₹543,12,0,No,2024-08-02,No,0
2,103,6,₹531,13,2,No,2024-10-17,No,0
3,104,5,₹442,9,1,No,2024-09-05,Yes,0
4,105,5,₹361,14,1,Yes,2025-03-21,Yes,0
5,106,6,₹212,10,0,No,2025-02-08,Yes,0
6,107,1,₹522,11,3,Yes,2025-06-17,Yes,1
7,108,7,₹588,6,0,No,2025-01-10,Yes,0
8,109,2,₹570,4,1,No,2025-05-14,No,0
9,110,9,₹482,1,1,No,2024-11-23,Yes,0