# DATA CREATION

In [1]:
!pip install faker  # for generating fake data

Requirement already satisfied: faker in /home/mystique/miniconda3/lib/python3.12/site-packages (37.3.0)
Requirement already satisfied: tzdata in /home/mystique/miniconda3/lib/python3.12/site-packages (from faker) (2025.1)

In [10]:
import pandas as pd
import numpy as np
from faker import Faker
import random

fake = Faker()

def generate_food_delivery_churn_dataset(n=500):
    data = []
    for i in range(101, 101 + n):
        customer_id = i
        orders_last_3_months = np.random.poisson(lam=5)
        avg_order_value = f"₹{random.randint(150, 600)}"
        app_opens_per_week = np.random.randint(1, 15)
        complaints = np.random.poisson(lam=1)
        used_offers = random.choice(["Yes", "No"])
        last_order_date = fake.date_between(start_date='-1y', end_date='today')
        membership = random.choice(["Yes", "No"])
        is_churned = int((orders_last_3_months <= 2 and app_opens_per_week <= 3) or complaints >= 3)

        data.append([
            customer_id,
            orders_last_3_months,
            avg_order_value,
            app_opens_per_week,
            complaints,
            used_offers,
            last_order_date,
            membership,
            is_churned
        ])
    
    columns = [
        "Customer_ID", "Orders_Last_3_Months", "Avg_Order_Value", "App_Opens_Per_Week",
        "Complaints", "Used_Offers", "Last_Order_Date", "Membership", "Is_Churned"
    ]
    
    return pd.DataFrame(data, columns=columns)

# Create and display the dataset
churn_df = generate_food_delivery_churn_dataset(500)

In [11]:
churn_df.to_csv('./food_delivery_churn_dataset.csv', index=False)

In [12]:
churn_df.head(50)

,Customer_ID,Orders_Last_3_Months,Avg_Order_Value,App_Opens_Per_Week,Complaints,Used_Offers,Last_Order_Date,Membership,Is_Churned
0,101,6,₹432,7,1,Yes,2025-06-05,No,0
1,102,1,₹532,13,2,No,2024-06-27,Yes,0
2,103,8,₹433,14,0,Yes,2024-11-29,Yes,0
3,104,3,₹499,4,0,Yes,2025-04-25,Yes,0
4,105,9,₹260,14,1,No,2024-08-11,Yes,0
5,106,4,₹425,1,0,No,2024-07-22,No,0
6,107,7,₹345,5,2,No,2025-06-10,No,0
7,108,7,₹430,12,0,No,2024-10-22,Yes,0
8,109,3,₹405,1,0,Yes,2024-11-06,No,0
9,110,4,₹546,4,1,Yes,2024-07-16,No,0
10,111,7,₹168,10,4,Yes,2024-09-23,No,1
11,112,5,₹554,10,1,No,2024-07-29,No,0
12,113,2,₹408,12,2,Yes,2024-06-18,Yes,0
13,114,3,₹242,6,1,No,2025-05-22,Yes,0
14,115,3,₹373,3,1,Yes,2024-10-06,Yes,0
15,116,1,₹463,7,3,No,2025-03-27,No,1
16,117,7,₹596,14,1,Yes,2025-01-11,No,0
17,118,8,₹300,6,0,Yes,2025-02-15,Yes,0
18,119,2,₹440,3,0,No,2025-03-29,Yes,1
19,120,7,₹600,11,1,No,2024-08-08,No,0
20,121,6,₹569,13,1,No,2024-07-18,No,0
21,122,6,₹338,7,3,Yes,2024-12-01,No,1
22,123,8,₹338,5,2,No,2025-05-02,No,0
23,124,6,₹438,9,1,Yes,2025-03-18,Yes,0
24,125,2,₹464,10,0,No,2025-05-01,No,0
25,126,4,₹499,14,0,Yes,2025-03-25,Yes,0
26,127,2,₹453,1,1,No,2025-01-31,Yes,1
27,128,4,₹434,5,2,No,2024-11-24,Yes,0
28,129,1,₹480,4,2,No,2025-04-10,No,0
29,130,3,₹448,9,1,Yes,2025-06-10,Yes,0
30,131,4,₹214,12,1,Yes,2025-02-16,Yes,0
31,132,4,₹198,13,3,No,2024-07-23,Yes,1
32,133,3,₹584,9,1,Yes,2024-09-25,Yes,0
33,134,3,₹301,13,0,No,2024-09-25,Yes,0
34,135,5,₹274,2,2,No,2025-02-23,Yes,0
35,136,4,₹517,3,2,No,2025-05-01,No,0
36,137,5,₹548,9,3,No,2025-04-27,No,1
37,138,3,₹175,8,3,Yes,2025-04-03,Yes,1
38,139,4,₹549,12,1,No,2024-11-12,No,0
39,140,4,₹519,10,0,No,2024-06-16,No,0
40,141,5,₹382,10,1,No,2024-08-29,No,0
41,142,7,₹529,9,1,No,2025-03-15,Yes,0
42,143,7,₹304,11,1,Yes,2025-03-22,Yes,0
43,144,3,₹166,13,3,Yes,2025-01-20,No,1
44,145,3,₹179,7,1,No,2024-12-21,Yes,0
45,146,3,₹512,7,4,No,2024-09-30,No,1
46,147,3,₹520,3,2,Yes,2025-04-27,No,0
47,148,2,₹595,4,1,Yes,2025-02-18,No,0
48,149,5,₹219,1,1,No,2025-05-31,Yes,0
49,150,2,₹285,1,1,Yes,2024-12-28,Yes,1